# 함수

In [3]:
def test(a, b):
    return a + b

test(5, 6)

11

# 학생 한명의 점수를 매개변수로 받아서 80점 이상이면 합격/ 아니면 불합격

In [4]:
def test1(a):
    try:
        if int(a)>=80:
            return '합격'
        else:
            return '불합격'
    except:
        print("숫자를 입력하세요")

test1(20)

'불합격'

In [5]:
def test3(*args):
    sum_list = []
    print(args)
    for i in args:
        sum_list.append(i+2)
    return sum_list

test3(5)

(5,)

[7]

In [7]:
aa = input("숫자를 입력하세요: ")

숫자를 입력하세요: 100

In [8]:
type(aa)

str

In [9]:
int(aa)

100

# class

In [10]:
class Test:
    def __init__(self):
        self.result = 0
    
    def add(self, num):
        self.result += num
        return self.result

calc1 = Test()

In [11]:

calc1.add(3)

3

In [12]:
calc1.add(4)

7

In [13]:
a = [1, 2, 3, 4]

# lambda

In [14]:
[i+1 for i in range(5)]

[1, 2, 3, 4, 5]

In [15]:
lst = ['가렌', '파이크', '트리스타나', '카타리나']

# map

In [16]:
list(map(lambda x:'챔피언: ' + x , lst))

['챔피언: 가렌', '챔피언: 파이크', '챔피언: 트리스타나', '챔피언: 카타리나']

# filter

In [17]:
list(filter(lambda x:x if len(x) ==3 else '', lst))

['파이크']

In [18]:
num_list = [1,2,3,4,5,6,7,8,9,10]

## map lambda로 각각의 값에 *3씩 해서 리스트에 담기
## filter lambda로 짝수만 뽑아서 결과값에  *2해서 리스트 담기

In [19]:
list(map(lambda x: x * 3, num_list))

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [20]:
list(map(lambda x: x*2 ,filter(lambda x:x if x %2 ==0 else '' ,num_list)))

[4, 8, 12, 16, 20]

#주민등록번호 13자리를 문자열로 입력 받아, 받은 주민번호를 기반으로 남성인지 여성인지를 판별하여 반환하는 함수를 작성하시오.

입력 문자열은 "주민번호 앞자리 - 뒷자리"로 구성됨 반환 문자열은 "남성", "여성" 둘중 하나

주민번호 뒷자리중 첫번째 숫자가 1이면 남성, 2이면 여성

예1)

입력(문자열) : "820327-1022421" 반환(문자열) : "남성" 

예2)

입력(문자열) : "820327-2022421" 반환(문자열) : "여성"

In [22]:
def jumin(a):
    b = a.split('-')[1][0]
    if b =='1' or b== '3':
        return '남성'
    elif b=='2' or b== '4':
        return '여성'
    else:
        return '오류'

In [23]:
a = "820327-1022421"

#다음 데이터를 함수 내에 딕셔너리 형태로 저장한 다음, 함수의 매개변수 입력으로 딕셔너리의 키에 해당하는 문자열을 받으면, 키에 해당하는 값을 반환하는 함수를 작성하시오.

함수내 저장해야하는 데이터

phones = {"S5": 2014, "S7": 2016, "note8": 2017, "S9": 2018, "S10": 2019} 예1)

입력(문자열) : "S5" 반환(정수) : 2014 예2)

입력(문자열) : "S7" 반환(정수) : 2016

In [25]:
def phone(a):
    phones = {"S5": 2014, "S7": 2016, "note8": 2017, "S9": 2018, "S10": 2019}
    result = phones[a]
    result = phones.get(a)
    return result

#다음 데이터를 함수 내에 딕셔너리 형태로 저장한 다음, 함수의 매개변수 입력으로 딕셔너리의 키에 해당하는 문자열을 받으면, 키에 해당하는 값을 반환하는 함수를 작성하시오.

함수내 저장해야하는 데이터

phones = {"S5": 2014, "S7": 2016, "note8": 2017, "S9": 2018, "S10": 2019}

예1)

입력(문자열) : "S5"
반환(정수) : 2014
예2)

입력(문자열) : "S7"
반환(정수) : 2016

In [26]:
phones = {"S5": 2014, "S7": 2016, "note8": 2017, "S9": 2018, "S10": 2019}

In [27]:
def phones(a):
    phones={"S5": 2014, "S7": 2016, "note8": 2017, "S9": 2018, "S10": 2019}
    result=phones[a]
    result=phones.get[a]
    return result

#휴대전화 번호를 문자열 형태로 함수의 매개변수로 입력 받으면, 휴대전화 4개의 뒷자리를 ####으로 바꾸어 반환하는 함수를 작성하시오.

예1)

입력(문자열) : "010-3222-1234" 반환(문자열) : "010-3222-####"

예2)

입력(문자열) : "010-1221-0984" 반환(문자열) : "010-1221-####"

In [28]:
def phone2(a):
    b=a.split('-')

In [29]:
a="010-3222-1234"

In [31]:
def phone2(a):
    b = a.split('-')
    b[2] = '####'
    result = '-'.join(b)
#     result = f'{b[0]}-{b[1]}-{b[2]}'
    return result

In [32]:
a = "010-3222-1234"

In [33]:
b = a.split('-')
b[2] = '####'

In [34]:
b

['010', '3222', '####']

In [37]:
result = '-'.join(b)

In [38]:
result

'010-3222-####'

# 데이터 프레임

In [60]:
import pandas as pd

In [61]:
lst = ['탑','다리우스','정글','비에고']

In [62]:
lst

['탑', '다리우스', '정글', '비에고']

In [63]:
series = pandas.Series(lst)

NameError: name 'pandas' is not defined

In [65]:
series

NameError: name 'series' is not defined

In [66]:
type(series)

NameError: name 'series' is not defined

In [67]:
type(series)

NameError: name 'series' is not defined

In [68]:
dic = {}

In [69]:
dic['lane'] = 'TOP'

In [70]:
dic['championName'] = '가렌'

In [71]:
{'lane': 'TOP', 'championName': '가렌'}

{'lane': 'TOP', 'championName': '가렌'}

In [72]:
series = pd.Series(dic)

In [73]:
series

lane            TOP
championName     가렌
dtype: object

In [74]:
series.loc['championName']

'가렌'

In [75]:
series.iloc[0]

'TOP'

In [76]:
lst = [['JUNGLE', '리 신', 0, 4, 1], ['MID', '아지르', 7, 2, 1]]

In [77]:
a_df = pd.DataFrame(lst, columns = ['lane', 'championName', 'kills', 'deaths', 'assists'])

In [78]:
a_df

     lane championName  kills  deaths  assists
0  JUNGLE          리 신      0       4        1
1     MID          아지르      7       2        1

In [79]:
dic = {'lane' : ['BOTTOM', 'SUPPORTER'], 'championName' : ['제리', '룰루'], 'kills': [2, 0], 'deaths': [0, 2], 'assists': [5, 15]}

In [80]:
b_df = pd.DataFrame(dic)

In [81]:
new_df = pd.concat([a_df, b_df])

In [82]:
new_df

        lane championName  kills  deaths  assists
0     JUNGLE          리 신      0       4        1
1        MID          아지르      7       2        1
0     BOTTOM           제리      2       0        5
1  SUPPORTER           룰루      0       2       15

In [83]:
new_df.reset_index(inplace = True)

In [84]:
new_df.drop('index', axis = 1, inplace = True)

In [85]:
new_df.sort_values(by = ['kills', 'assists'], ascending = False)

        lane championName  kills  deaths  assists
1        MID          아지르      7       2        1
2     BOTTOM           제리      2       0        5
3  SUPPORTER           룰루      0       2       15
0     JUNGLE          리 신      0       4        1

In [86]:
lst = [['TOP','blue','이렐리아',7,2,7],['MID','blue','바루스',18,0,4],
       ['BOTTOM','blue','애쉬',1,5,15],['TOP','red','일라오이',3,9,0],
       ['MID','red','벡스',1,10,3],['BOTTOM','red','제리',11,9,2]]

In [87]:
df = pd.DataFrame(lst, columns = ['lane', 'team', 'chmpaionName', 'kills', 'deaths', 'assists'])

In [89]:
df2 = df[['lane','kills','deaths','assists']]

In [90]:
df2.groupby('lane').mean()

        kills  deaths  assists
lane
BOTTOM    6.0     7.0      8.5
MID       9.5     5.0      3.5
TOP       5.0     5.5      3.5

In [91]:
df['condition'] ='none'

In [92]:
df

     lane  team chmpaionName  kills  deaths  assists condition
0     TOP  blue         이렐리아      7       2        7      none
1     MID  blue          바루스     18       0        4      none
2  BOTTOM  blue           애쉬      1       5       15      none
3     TOP   red         일라오이      3       9        0      none
4     MID   red           벡스      1      10        3      none
5  BOTTOM   red           제리     11       9        2      none

In [93]:
df['condition'] = df.apply(lambda x:'good' if x.deaths < 6 else 'bad',axis = 1)

In [95]:
def condition(x):
    if x<6:
        return 'good'
    else:
        return 'bad'

df['condition'] = df.apply(lambda x:condition(x.deaths) ,axis=1)

# # KDA

## (KILL + ASSISTS) / DEATHS

### kda 컬럼 추가

### none -> apply 함수를 사용해서 kda 계산 소수점 둘쨰자리까지 사용 (round 함수 사용)

### kda가 높은게 위로 가도록 Sort

In [41]:
a = 3.14159248

In [42]:
round(a,2)

3.14

In [96]:
def kda(x):
    try:
        kda = round((x.kills + x.assists)/x.deaths,2)
    except:
        kda = round((x.kills + x.assists)/1,2)
    return kda

In [97]:
df['kda'] = df.apply(lambda x:kda(x) ,axis=1)

In [98]:
df.sort_values(by = ['kda'], ascending = False)

     lane  team chmpaionName  kills  deaths  assists condition    kda
1     MID  blue          바루스     18       0        4      good  22.00
0     TOP  blue         이렐리아      7       2        7      good   7.00
2  BOTTOM  blue           애쉬      1       5       15      good   3.20
5  BOTTOM   red           제리     11       9        2       bad   1.44
4     MID   red           벡스      1      10        3       bad   0.40
3     TOP   red         일라오이      3       9        0       bad   0.33

# Divide

In [99]:
blue_team = df[df.team == 'blue']
red_team = df[df['team'] == 'red']

In [100]:
blue_team

     lane  team chmpaionName  kills  deaths  assists condition   kda
0     TOP  blue         이렐리아      7       2        7      good   7.0
1     MID  blue          바루스     18       0        4      good  22.0
2  BOTTOM  blue           애쉬      1       5       15      good   3.2

In [101]:
red_team

     lane team chmpaionName  kills  deaths  assists condition   kda
3     TOP  red         일라오이      3       9        0       bad  0.33
4     MID  red           벡스      1      10        3       bad  0.40
5  BOTTOM  red           제리     11       9        2       bad  1.44

In [102]:
concat_df = pd.concat([blue_team,red_team])

In [103]:
concat_df2 = pd.concat([red_team,blue_team], ignore_index = True)

In [104]:
concat_df2

     lane  team chmpaionName  kills  deaths  assists condition    kda
0     TOP   red         일라오이      3       9        0       bad   0.33
1     MID   red           벡스      1      10        3       bad   0.40
2  BOTTOM   red           제리     11       9        2       bad   1.44
3     TOP  blue         이렐리아      7       2        7      good   7.00
4     MID  blue          바루스     18       0        4      good  22.00
5  BOTTOM  blue           애쉬      1       5       15      good   3.20

# MERGE

In [106]:
merge_df = pd.merge(blue_team,red_team,on = ['lane'])

In [107]:
merge_df

,lane,team_x,chmpaionName_x,kills_x,deaths_x,assists_x,condition_x,kda_x,team_y,chmpaionName_y,kills_y,deaths_y,assists_y,condition_y,kda_y
0,TOP,blue,이렐리아,7,2,7,good,7.0,red,일라오이,3,9,0,bad,0.33
1,MID,blue,바루스,18,0,4,good,22.0,red,벡스,1,10,3,bad,0.40
2,BOTTOM,blue,애쉬,1,5,15,good,3.2,red,제리,11,9,2,bad,1.44

In [108]:
col = ['lane','blue_team','champName_blue','kills_blue','deaths_blue','assists_blue','condition_blue','kda_blue',
      'red_team','champName_red','kills_red','deaths_red','assists_red','condition_red','kda_red']

In [109]:
merge_df.columns = col

In [110]:
merge_df

,lane,blue_team,champName_blue,kills_blue,deaths_blue,assists_blue,condition_blue,kda_blue,red_team,champName_red,kills_red,deaths_red,assists_red,condition_red,kda_red
0,TOP,blue,이렐리아,7,2,7,good,7.0,red,일라오이,3,9,0,bad,0.33
1,MID,blue,바루스,18,0,4,good,22.0,red,벡스,1,10,3,bad,0.40
2,BOTTOM,blue,애쉬,1,5,15,good,3.2,red,제리,11,9,2,bad,1.44

# drop_duplicates

In [111]:
dup_df = pd.concat([merge_df,merge_df])

In [112]:
dup_df

,lane,blue_team,champName_blue,kills_blue,deaths_blue,assists_blue,condition_blue,kda_blue,red_team,champName_red,kills_red,deaths_red,assists_red,condition_red,kda_red
0,TOP,blue,이렐리아,7,2,7,good,7.0,red,일라오이,3,9,0,bad,0.33
1,MID,blue,바루스,18,0,4,good,22.0,red,벡스,1,10,3,bad,0.40
2,BOTTOM,blue,애쉬,1,5,15,good,3.2,red,제리,11,9,2,bad,1.44
0,TOP,blue,이렐리아,7,2,7,good,7.0,red,일라오이,3,9,0,bad,0.33
1,MID,blue,바루스,18,0,4,good,22.0,red,벡스,1,10,3,bad,0.40
2,BOTTOM,blue,애쉬,1,5,15,good,3.2,red,제리,11,9,2,bad,1.44

In [113]:
dup_df.drop_duplicates(['champName_blue'],inplace = True)

In [114]:
merge_df.to_csv('test.csv',index=False,encoding="utf-8")

In [116]:
champion_df=pd.read_csv('cn_kr.csv')

In [117]:
champion_df

     championId champion_name_kr
0             1               애니
1             2              올라프
2             3              갈리오
3             4        트위스티드 페이트
4             5             신 짜오
..          ...              ...
154         777               요네
155         875               세트
156         876              릴리아
157         887               그웬
158         888         레나타 글라스크

[159 rows x 2 columns]

In [118]:
dsr_df=pd.read_csv('dsr.csv')

In [119]:
dsr_df

,gameId,duration,participantId,championId,lane,side,win,damageDealt,damageTaken,gold,...,g21,g22,g23,g24,g25,g26,g27,g28,g29,g30
0,5311499506,2196,1,412,Supporter,blue,True,5969,16076,9634,...,5256,5426,5647,6123,6411,7078,7228,7418,7619,7789
1,5311499506,2196,2,517,Middle,blue,True,21107,26083,13317,...,7191,7550,7779,8656,9200,9724,10002,10856,11142,11348
2,5311499506,2196,3,145,Bot,blue,True,28755,16542,19154,...,9180,9616,10379,11657,12485,13660,14015,14644,14961,15434
3,5311499506,2196,4,234,Jungle,blue,True,18808,31963,15297,...,8705,8958,9253,9962,10525,10972,11258,11755,12062,12229
4,5311499506,2196,5,266,Top,blue,True,15994,41212,13551,...,8364,8661,9182,9839,10084,10329,10667,10839,11118,11345
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,5346520241,1786,6,89,Supporter,red,True,7562,22776,8885,...,5593,5976,6241,6457,6597,6737,7958,8299,8564,8885
999996,5346520241,1786,7,92,Top,red,True,15334,24188,11123,...,7571,7897,8243,8625,8747,9022,9340,10084,10726,11123
999997,5346520241,1786,8,91,Middle,red,True,27626,23651,13600,...,9610,9733,10676,10798,10984,11120,12223,12729,13306,13600
999998,5346520241,1786,9,141,Jungle,red,True,23209,25823,15988,...,10375,10932,11994,12548,12887,13039,13967,14756,15506,15988
999999,5346520241,1786,10,202,Bot,red,True,20059,21011,12671,...,8701,9169,9918,10116,10385,10507,11158,11380,12196,12671

In [121]:
dsr_df.columns

Index(['gameId', 'duration', 'participantId', 'championId', 'lane', 'side',
       'win', 'damageDealt', 'damageTaken', 'gold', 'kills', 'deaths',
       'assists', 'g5', 'g6', 'g7', 'g8', 'g9', 'g10', 'g11', 'g12', 'g13',
       'g14', 'g15', 'g16', 'g17', 'g18', 'g19', 'g20', 'g21', 'g22', 'g23',
       'g24', 'g25', 'g26', 'g27', 'g28', 'g29', 'g30'],
      dtype='object')

In [122]:
my_df = data_solo_rank[['gameId', 'duration', 'version', 'participantId', 'championId', 'lane',
       'side', 'win', 'damageDealt', 'damageTaken', 'gold', 'kills', 'deaths',
       'assists']]

NameError: name 'data_solo_rank' is not defined

In [123]:
my_df = dsr_df[['gameId', 'duration', 'participantId', 'championId', 'lane',
       'side', 'win', 'damageDealt', 'damageTaken', 'gold', 'kills', 'deaths',
       'assists']].copy() #copy() --

# damageDealt > 딜량damageTaken >받은피해량딜량/ 피해량 > apply 만들어보기dm_per 컬럼

In [124]:
my_df['dp_per']=my_df['damageDealt']/my_df['damageTaken']

In [125]:
my_df['df_per']=blue_df['']

NameError: name 'blue_df' is not defined